@page
@model ChatBot.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="cache-control" content="no-store">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rule Database Management</title>
    <link rel="stylesheet" type="text/css" href="~/css/crud.css" />
</head>

<h1>Rule Database Management</h1>

<p>
    <a class="button" asp-page="Create">Create New</a>
</p>
<table class="rule-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rule[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rule[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rule[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rule[0].PublicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rule[0].Source)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rule) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                <a class="button" asp-page="./Edit" asp-route-id="@item.RuleId">Edit</a>
                <a class="button" asp-page="./Details" asp-route-id="@item.RuleId">Details</a>
                <a class="button" asp-page="./Delete" asp-route-id="@item.RuleId">Delete</a>
            </td>
        </tr>
}
        <script src="~/js/crud.js"></script>
    </tbody>
</table>
