@page
@model ChatBot.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<html>
  <head>
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="~/css/crud2.css" />
    <style>
      table.rule-table td:first-child {
        width: 220px; /* Set the width of the first column as needed */
        font-weight: bold; /* Make the labels bold */
      }
    </style>
  </head>
<body>
<h1>Rule Details</h1>

    <div>
      <hr />
      <table class="rule-table">
        <tbody>
          <tr>
            <td>
              @Html.DisplayNameFor(model => model.Rule.Title)
            </td>
            <td>
              @Html.DisplayFor(model => model.Rule.Title)
            </td>
          </tr>
          <tr>
            <td>
              @Html.DisplayNameFor(model => model.Rule.Category)
            </td>
            <td>
              @Html.DisplayFor(model => model.Rule.Category)
            </td>
          </tr>
          <tr>
            <td>
              @Html.DisplayNameFor(model => model.Rule.Content)
            </td>
            <td>
              @Html.DisplayFor(model => model.Rule.Content)
            </td>
          </tr>
          <tr>
            <td>
              @Html.DisplayNameFor(model => model.Rule.PublicationDate)
            </td>
            <td>
              @Html.DisplayFor(model => model.Rule.PublicationDate)
            </td>
          </tr>
          <tr>
            <td>
              @Html.DisplayNameFor(model => model.Rule.Source)
            </td>
            <td>
              @Html.DisplayFor(model => model.Rule.Source)
            </td>
          </tr>
        </tbody>
      </table>
    </div>
<div>
    <a class="button" asp-page="./Edit" asp-route-id="@Model.Rule?.RuleId">Edit</a> |
    <a class="button" asp-page="./Crud">Back to List</a>
</div>
  </body>
</html>

